header{
    position: relative;
    background: rgba(0, 0, 0, 0.282);
}

h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    margin-top: 80px;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
    background: linear-gradient(265.34deg, #21D4FD 21.26%, #E40ECF 66.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* line-height: 40px; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 40px 0;
    position: relative;
    padding: 15px 0;
    text-align: center;
}

h2::after{
    position: absolute;
    content: "";
    background: linear-gradient(90.23deg, rgba(24, 38, 88, 0.52) 17.83%, rgba(48, 3, 41, 0.52) 81.89%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.consoles-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}

.consoles-block .console{
    flex: 0 0 33%;
    text-align: center;
    transform: translateY(0);
    transition: transform 0.3s linear;
}

.things-block .thing, .games-block .game{
    transform: translateY(0);
    transition: transform 0.3s linear;
}

.consoles-block .console:hover,.things-block .thing:hover, .games-block .game:hover{
    transform: translateY(-5px);
}

section p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    color: #FFFFFF;  
    position: relative;
    padding: 15px 0;
    z-index: 1;
}

section p::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90.23deg, rgba(24, 38, 88, 0.52) 17.83%, rgba(48, 3, 41, 0.52) 81.89%);
    z-index: -1;
}

.consoles-block .console img{
    width: 80%;
    height: auto;
    border-radius: 16px;
}

.things-block, .games-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}

.things-block .thing, .games-block .game{
    flex: 0 0 25%;
    text-align: center;
}

.things-block .thing img, .games-block .game img{
    width: 80%;
    height: auto;
    border-radius: 16px;
}

.games .games-block{
    margin-bottom: 80px;
}

@media screen and (max-width: 1023px){
    h1{
        font-size: calc(30px + 14 * (100vw / 1000));
    }

    h2{
        font-size: calc(20px + 12 * (100vw / 1000));
    }

    section p{
        font-size: calc(8px + 10 * (100vw / 1000));
    }

    .games .games-block{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 767px){

    section p{
        font-size: calc(8px + 6 * (100vw / 1000));
        line-height: 12px;
    }

}

@media screen and (max-width: 479px){
    header{
        position: fixed;
    }
    h1{
        margin-top: 0;
        padding-top: 90px;
    }
    .consoles-block .console{
        flex: 0 0 50%;
    }
    .things-block .thing, .games-block .game{
        flex: 0 0 50%;
    }
}
